.container {
    margin-top: 50px;
}

.recommendations {
    color: #585858;
    padding: 5px 0;
}

.float60 {
  /*float: left;*/
  display: inline-block;
  width: 60%;
  vertical-align: top;
}
.float40 {
  /*float: left;*/
  display: inline-block;
  width: 40%;
}

.currencyHeader {
  text-align: right;
  font-weight: bold;
  color: rgb(50, 118, 169);
}
.currency {
  text-align: right;
  font-size: 3em;
  color: #BBB;
}