/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: block;
  padding-top: 100px;
}

.topBar {
    position: relative;
}

:global .row--fullWidth {
    max-width: 100%;
}

:global .row.row--fullWidth > .row,
:global .row.row--fullWidth .row  {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Helvetica";
    color: #555;
}

h2 {
    font-size: 30px;
    color: #21598D;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    color: #3276A9;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

:global .money {
    font-size: 54px;
    color: #9B9B9B;
    font-weight: lighter;
    line-height: 1.2;
    margin-bottom: 50px;
    display: block;
}

:global .money > span {
    color: #CCCCCC;
    font-size: 30px;
}